<div class="agendamentos-form-container">
    <a href="/clients/dashboard">Voltar</a>
    <h1>criando um agendamento</h1>
    <form action="/clients/add" method="POST">
    <div class="form-control">
       <input type="text" name="name">
       <label for="name">Nome</label>
    </div>
        <div class="form-control">
        <input type="date" name="date">
        <label for="date">Dia do corte</label>
    </div>
        <div class="form-control">
        <input type="text" name="type_of_cut">
        <label for="type_of_cut">Tipo de corte</label>
    </div>
    <input type="submit" value="criar agendamento">
    </form>
</div>